"*":
  "atom-ui-tweaks":
    editor: {}
    findInProject:
      subtleHeaderRows: true
      subtleHighlights: true
      subtleLineNumbers: true
    modal: {}
    status:
      boldFileName: true
      hideEncodingStatus: true
      hideLineEndingStatus: true
      inactiveOpacity: "60%"
    tab:
      style: "aqua"
    tree: {}
    ui:
      atomLogoSplashScreen: true
      compactFuzzyFinder: true
      hideFindAndReplaceCloseButton: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "tree-view"
      "wrap-guide"
      "github"
      "open-on-github"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
  editor:
    softWrap: true
  "exception-reporting":
    userId: "8a836036-1bb4-48cf-81ed-32ca8d3bc940"
  github:
    remoteFetchProtocol: "ssh"
  "one-dark-ui": {}
  tabs: {}
  "tree-view":
    focusOnReveal: false
    hiddenOnStartup: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  "wrap-guide":
    enabled: false
