"*":
  "atom-ui-tweaks":
    editor: {}
    findInProject:
      subtleHeaderRows: true
      subtleHighlights: true
      subtleLineNumbers: true
      subtleMatchCount: true
      subtleSeparators: true
    modal:
      disableAnimation: true
      simplifyBackdrop: true
    other: {}
    status:
      boldFileName: true
      extraPadding: true
      hideEncodingStatus: true
      hideLineEndingStatus: true
      inactiveOpacity: "60%"
    tab:
      leftMargin: "large"
      separatorStyle: "slight"
      style: "aqua"
    ui:
      atomLogoSplashScreen: true
      compactFuzzyFinder: true
      hideFindAndReplaceCloseButton: true
  core:
    disabledPackages: [
      "tree-view"
      "wrap-guide"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    useProxySettingsWhenCallingApm: false
  editor:
    softWrap: true
  "exception-reporting":
    userId: "b2c7a8f0-e7b7-4965-9a05-4e53f9e3862f"
  welcome:
    showOnStartup: false
